html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
* Styles for the deck of cards
*/

.deck {
  max-width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transform: rotateY(180deg);
  transition: .2s transform linear;
}


.deck .card.open {
  transform: rotateY(0deg);
  background: #02b3e4;
  cursor: default;
  
}

.deck .card.show {
  font-size: 33px;
}


.deck .card.match {
  cursor: default;
  background: #02ccba;
  animation: matching 0.6s .3s;
}


.deck .card.incorrect{
  background-color: red;
  animation: incorrect 0.6s  .3s;

}
@keyframes incorrect {
0%,
100% {
  transform: translateX(0);
}
10%,
30%,
50%,
70% {
  transform: translateX(-10px);
}
20%,
40%,
60% {
  transform: translateX(10px);
}
80% {
  transform: translateX(8px);
}
90% {
  transform: translateX(-8px);
}
}

@keyframes matching {
  0% {
  transform: skew(0deg 0deg);
}
30% {
  transform: skew(-25deg -25deg);
}
40% {
  transform: skew(15deg, 15deg);
}
50% {
  transform: skew(-15deg, -15deg);
}
65% {
  transform: skew(5deg, 5deg);
}
75% {
  transform: skew(-5deg, -5deg);
}
100% {
  transform: skew(0deg 0deg);
}
}
}
/*
* Styles for the Score Panel
*/

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

/*.score-panel */.stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 10px 0 0;
}

.score-panel .time{
  margin: 0 0 0 20px;
}
/*.score-panel*/ .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  margin: 0 0 0 10px;
  float: right;
  cursor: pointer;
}

/*
Winner pop-up
styles*/
.winner-container{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.winner{

  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 70%;
  text-align: center;
  animation: fade 2s ease both;
}

@keyframes fade{
  0%{
      opacity: 0;
      transform: scale(0.1);
      background-color: black;
  }
  100%{
      opacity: 1;
      background-color: #fefefe;

  }

}

.winner h1 {
  color: blue;
}
.winner span {
  color: red;
  font-weight: bold;
}
.winner .stars {
  margin: 0;
}
.winner button{
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  background: blue;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 58px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input{
/* display: inline-block; */
border-radius: 5px;
margin: 15px;
width: 10rem;
}

button.update{
display: inline-block;
margin: 9px 20px;
  border: 1px solid black;
  padding: 5px 8px 5px 8px;
  background: rgb(255, 0, 170);
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.katkota{
color: rgb(255, 0, 170);
font-size:25px;
display: none;
}

.ayah-stars{
color:gold;
display :none;
}

@media screen and (max-width: 660px) {
  h1 {
      font-size: 1.5em;
  }
.deck .card{
  margin: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.deck .card.show {
  font-size: 20px;
}

.deck {
  width: 330px;
  min-height: 360px; 
}

}